include projects/*.txt
include projects/*.json

include testnet/wallets/users/*.pem
include testnet/wallets/users/*.json
include testnet/wallets/users/*.txt
include testnet/wallets/validators/*.pem
include testnet/wallets/validators/*.json
include testnet/wallets/validators/*.txt
include testnet/wallets/observers/*.pem
include testnet/wallets/observers/*.json
include testnet/wallets/observers/*.txt
