toml>=0.10.2
types-toml
bottle~=0.12.18
requests~=2.24.0
types-requests
pynacl
pycryptodomex
cryptography==36.0.2
prettytable
types-prettytable
ledgercomm[hid]
semver
requests-cache

pytest

setuptools

mx-sdk-build-contract-rs==4.0.0

git+https://github.com/ElrondNetwork/mx-sdk-erdpy-core.git@v0.2.0#egg=erdpy_core
git+https://github.com/ElrondNetwork/mx-sdk-erdpy-wallet.git@v0.2.0#egg=erdpy_wallet
git+https://github.com/ElrondNetwork/mx-sdk-erdpy-network-providers.git@erdpy-addons#egg=erdpy_network
