toml>=0.10.2
types-toml
requests~=2.31.0
types-requests
prettytable
types-prettytable
ledgercomm[hid] @ git+https://github.com/LedgerHQ/ledgercomm@v1.2.1
semver
requests-cache
rich==13.3.4

multiversx-sdk-core>=0.7.0,<0.8.0
multiversx-sdk-network-providers>=0.12.0,<0.13.0
multiversx-sdk-wallet>=0.8.0,<0.9.0
